
<a id="error_message_link" data-toggle="modal" href="#errorMessageModal" data-dismiss="modal" style="width:0px;height:0px"></a>
<div class="login-user-profile-info-page" style="width:880px;margin-left:250px;padding:25px 0px 125px 0px">
    <div th:include="addImageTemplate"></div>
    <!-- <div class="top-add-question-link" style="float:right">
    	<a href="#" style="color:#003366">Add a Question</a>
    </div> -->
	<div class="login-user-profile-info-page-content" ng-init="getLoginUserObj()"  style="clear:both;">	
		<div class="profile_name">
			<span style="font-size: 21px;color:#003366">
		    	{{fullName}}
		    </span>
		</div>
		<table>
			<tr>
				<td valign="top" style="width:150px;">
					<div class="login-user-profile-content-left" >
						<div>
					    	<img class="login-user-image"></img>
							<div  class="add_profile_photo" style="text-align:center;background-color: #8c8989;opacity:0.80;font-weight: bold;" id="user_picture_edit">
								<a class="add-image-link" data-toggle="modal" href="#addImageModal" style="color:white;">Change Picture</a>
							</div>							
						</div>
						<div id="link_to_user_dashboard" style="margin-top:-15px;clear:both;text-align:right;padding-bottom:10px;">
							<a href="javascript:sendRedirect('profile')" style="color:#0088d6;">View Public Profile</a>
						</div>							
					</div>									
					<div class="content-block">
				   		<div class="content-block-text">
				   			<span class="content_row_text">QUESTIONS&nbsp;</span>
				   			<span id="questions_given_count"></span>
				   		</div>
				   		<div class="content-block-text">
				   			<span class="content_row_text">ANSWERS&nbsp;</span>
				   			<span id="answers_given_count"></span>
				   		</div>
				   	</div>
			   		<div class="content-block">
			   			<div class="content-block-title">ABOUT</div>
			   			<div class="user_createdon">Joined&nbsp;<span id="user-createdon_date">{{userCreatedOn}}</span></div>
			   			<div>
					 		<div class="user_location">			  
						   		<span style="float:left"  ng-hide="locationEditorEnabled">			    	
						    	<span>{{location}}</span>
						   		<a class="location_edit edit"  id="user_location_edit" href="#" ng-click="locationEnableEditor()">Edit</a>
						   	</span>
						   	</div>
						   	<div class="find_location" ng-show="locationEditorEnabled" style="display: none">
						   		<div>
						   			<input  class="location-control" id="location-search" type="text" placeholder="Select Location"  ng-model="usrLocation" style="width:140px;"/>
						   		</div>
						   		<div style="margin-top:6px;">
						   			<button type="submit" class="btn btn-primary" ng-click="saveLocation()">Update</button>
				        			<a href="#" ng-click="locationDisableEditor()">Close</a>
				        		</div>
				        	</div>
				    	</div>
				    	<div style="clear:both;">
						    <div class="user_college" >						   	
						    	<span style="height:100px;" ng-hide="collegeEditorEnabled">
						    	<span>{{college}}</span>
						    	<span>{{collegeStaticStr}}</span>
						    	<a class="edit" href="#"  ng-click="collegeEnableEditor()" id="user_college_edit">Edit</a></span>
						    </div>
						    <div class="user_change_college" ng-show="collegeEditorEnabled" style="display: none"> 
						    	<div>
						    		<input class="college-control" id="college-search" type="text" placeholder="Select/Enter college name" ng-model="college" style="width:140px;"/>
				        		</div>
				        		<div style="margin-top:6px;">
				        			<button type="submit" class="btn btn-primary" ng-click="saveCollege()">Update</button>
				        			<a href="#" ng-click="collegeDisableEditor()">Close</a>
				        		</div>
				    		</div>
			    		</div>
			    		<div style="clear:both;">
						    <div class="user_credit_union">
						   		<span style="height:100px;" ng-hide="creditUnionEditorEnabled">
						    	<span>{{creditUnion}}</span>
						    	<span>{{creditUnionStaticStr}}</span>
						    	<a class="edit" href="#"  ng-click="creditUnionEnableEditor()" id="user_credit_union_edit">Edit</a></span>
						    </div>
						    <div class="user_change_credit_union" ng-show="creditUnionEditorEnabled" style="display: none"> 
						    	<div>
						    		<input   class="credit-union-control" id="credit-union-search" type="text" placeholder="Enter Credit Union" ng-model="creditUnion" style="width:140px;" />
				        		</div>				        		
				        		<div style="margin-top:6px;">
				        			<button type="submit" class="btn btn-primary" ng-click="saveCreditUnion()">Update</button>
				        			<a href="#" ng-click="creditUnionDisableEditor()">Close</a>
				        		</div>
				    		</div>
			    		</div>										
			   		</div>
			   		<div class="content-block">
			   			<div class="content-block-title">BLOG</div>
			   			<div class="content-block-link-div">
			   				<a href="http://blog.phroogal.com" target="_blank" class="content-block-link">Phroogal Blog</a>
			   			</div>
			   			<div class="content-block-link-div">
			   				<a target="_blank" href="http://blog.phroogal.com/personal-finance-blogs" class="content-block-link">Blog Roll</a>
			   			</div>
			   		</div>
			   		<div class="content-block">
			   			<div class="content-block-title">Resources</div>
			   			<div class="content-block-link-div">
			   				<a target="_self" href="{{redirectFreeToolsApp}}" class="content-block-link">Free Tools and App</a>
			   			</div>
			   			<div class="content-block-link-div">
			   				<a href="http://culookup.com/Calculators" target="_blank" class="content-block-link">Calculators</a>
			   			</div>
			   			<!-- <div class="content-block-link-div">
			   				<a href="#" class="content-block-link">Financial Education</a>
			   			</div>
			   			<div class="content-block-link-div">
			   				<a href="#" class="content-block-link">Government Resources</a>
			   	        </div> -->
			   		</div>
			  	</td>
		   		<td valign="top" style="padding-left:50px;width:600px;">		
					 <div class="login-user-profile-content-right" style="padding-bottom:25px;">
					  	<div style="clear:both;padding:2px 0px;font-size:15px;min-height:22px">
						    <div class="user_bio" style="float:left;">
						   		<table>
							   		<tr>
							   			<td valign="top">
							   				<div style="color:#a9a9a9;">Bio:&nbsp;</div>
							   			</td>
							    		<td valign="top">
							    			<div style="" ng-hide="bioEditorEnabled">
							    				<span>{{bioText}}</span>
							    				<a class="edit" href="#"  ng-click="bioEnableEditor()" id="user_bio_edit">Edit</a>
							    			</div>
							    		</td>
							    	</tr>
						    	</table>
						    </div>
						    <div class="user_change_bio" ng-show="bioEditorEnabled" style="display: none;float:left;"> 
						    	<div style="float:left;">
							    	<form  accept-charset="UTF-8" name="bioInfoForm" style="clear:both;margin: 0 0 0 0px;">						    	
							    		<input  type="text" placeholder="Limited to 150 characters." ng-model="bio" maxlength="150" required="required" style="width:300px"/>
							    	</form>
							    </div>
						    	<div style="margin-left:6px;float:left;">
				        			<button ng-disabled="bioInfoForm.$invalid" type="submit" class="btn btn-primary" ng-click="saveBio()">Update</button>
				        			<a href="#" ng-click="bioDisableEditor()">Close</a>
				        		</div>
				    		</div>
			    		</div>
			    		<div style="clear:both;padding:2px 0px;font-size:15px;min-height:22px;">
						    <div class="user_perosonal_website" style="float:left;" >
						   		<table>
						   			<tr>
							   			<td valign="top">
							   				<div class="left_col_new" style="color:#a9a9a9;">Website:&nbsp;</div>
							   			</td>
							   			<td>
								    		<div ng-hide="personalWebsiteEditorEnabled">
								    	    	<span id="website-link-text" style="display:none;"></span>
								    			<a style="color:#003366;" id="personal_website_link" target="_blank" href="{{personalWebsiteURL}}">{{personalWebsite}}</a>
								    			<a class="edit" href="#"  ng-click="personalWebsiteEnableEditor()" id="user_personal_website_edit">Edit</a>
								    		</div>
								    	</td>
							    	</tr>
							    </table>
						    </div>
						    <div class="user_change_personal_website" ng-show="personalWebsiteEditorEnabled" style="display:none;float:left"> 
						    	<div style="float:left;">
						    		<form  accept-charset="UTF-8" name="personalWebsiteForm" style="clear:both;margin: 0 0 0 0px;">
						    			<input  type="text" placeholder="Enter website url" ng-model="personalWebsite" required="required"  name="personalWebsite" style="width:300px"/>
						    		</form>
						    	</div>
						    	<div style="margin-left:6px;float:left;">
				        			<button ng-disabled="personalWebsiteForm.$invalid" type="button" class="btn btn-primary" ng-click="savePersonalWebsite()">Update</button>
				        			<a href="#" ng-click="personalWebsiteDisableEditor()">Close</a>
				        		</div>
				    		</div>
			    		</div>
			    		<div style="clear:both;padding:2px 0px;font-size:15px;">
						    <div class="user_lifeStyleGoal" style="float:left;">
						   		<table>
						   			<tr>
						   				<td valign="top">
						   					<div class="left_col_new"  style="color:#a9a9a9;white-space: nowrap;">Lifestyle Goal:&nbsp;</div>
						   				</td>
						    			<td valign="top">	
						    				<div ng-hide="lifeStyleGoalEditorEnabled">
						    				    <span>{{lifeStyleGoalText}}</span>
						    					<a class="edit" href="#"  ng-click="lifeStyleGoalEnableEditor()" id="user_personal_website_edit">Edit</a>
						    				</div>
						    			</td>
						    		</tr>
						    	</table>
						    </div>
						    <div class="user_change_lifeStyleGoal" ng-show="lifeStyleGoalEditorEnabled" style="display: none;float:left;"> 
						    	<div style="float:left;">
						    		<form  accept-charset="UTF-8" name="lifeStyleGoalForm" style="clear:both;margin: 0 0 0 0px;">
						    			<input  type="text"  placeholder="Enter life style goal" ng-model="lifeStyleGoal" required="required"  name="lifeStyleGoal" style="width:300px"/>
						    		</form>
						    	</div>
						    	<div style="margin-left:6px;float:left;">
				        			<button ng-disabled="lifeStyleGoalForm.$invalid" type="button" class="btn btn-primary" ng-click="saveLifeStyleGoal()">Update</button>
				        			<a href="#" ng-click="lifeStyleGoalDisableEditor()">Close</a>
				        		</div>
				    		</div>
			    		</div>
			    	 </div>	
					<tabs id="tabs" style="padding-top:20px;"> 
	    				<pane title="Feed">
	         				<div id="trending_questions" style="color:#003366;font-size:10;"></div>
	   						<div id="more_trending_questions" style="margin-top:10px;font-weight:bold;font-size:14px;color:#003366;cursor: pointer;display:none;" ng-click="showAllTrendingQuestions()">More Trending Questions</div>
	   					</pane>	   					
	   					<pane title="Social">
	    				    <div id="asked-join-to" style="text-align:center;display:none;">
			    				<div style="color: black;font-size: 14px;font-weight: bold;text-align:center;padding:10px;">
			    				You don't have any questions from anyone in your social networks yet.<br/>	
								Why not ask more friends to join.
			    				</div>
			    			</div> 
	    				    <div class="social_questions_static_text" style="color:black;text-align:center;margin-top:10px;">
         				    	Social questions are questions asked by people in your social networks. You'll see<br/> 
								their questions here but you won't know who asked the question. If you answer<br/> 
								social questions, your friends will know you helped them.
	         			    </div>   
	         				<div id="dashboard-social"></div>
	         				<div id="more_social_questions" style="margin-top:10px;font-weight:bold;font-size:14px;color:#003366;cursor: pointer;display:none;" ng-click="showAllSocialQuestions()">More Social Questions</div>
	   						<div id="social_question_loader_image" style="background-image:url('img/loader.gif');width:16px;height:16px;display:none;"></div>		
	   					</pane>                 	    			
	    				<pane title="My Questions">	         				
			    			<div id="add-new-question" style="text-align:center;display:none;">
			    				<div style="color: black;font-size: 14px;font-weight: bold;text-align:center;padding:10px;">You haven't added a question yet.</div>
			    				<!-- <div style="color:#0088cc;cursor: pointer;" onclick="setFocusOnHeaderSearch()"> -->
			    				<div style="color:#0088cc;cursor: pointer;" onclick="sendRedirect('addquestion')">
			    					Add your first question
			    			    </div>		    					
	  						</div>
	  						<div class="questions_static_text" style="color:black;text-align:center;margin-top:10px;">
         				    	Questions are posted anonymously to the knowledge base for the community of<br/> 
         				    	phroogies to answer.
	         			    </div>
	         			    <div id="questions"></div>
	         			    <div id="more_user_questions" style="margin-top:10px;font-weight:bold;font-size:14px;color:#003366;cursor: pointer;display:none;" ng-click="showAllUserQuestions()">More Questions</div>
	   						<div id="user_questions_loader_image" style="background-image:url('img/loader.gif');width:16px;height:16px;display:none;"></div>		
	   				   </pane>
	    				<pane title="My Answers">
	         				<div id="answers">
	         				    <div id="add-new-answer" style="text-align:center;display:none;">
		         					<div style="padding:10px 0px 3px 0px;color: black;font-size:14px;font-weight: bold;text-align:center;">You haven't answered any questions yet.</div>
		         					<div>
				    					<a href="#" onclick="setFocusOnHeaderSearch()">Search a topic above and answer your first question.</a>
				    			    </div> 			        	
				    			</div>
			    			    <div class="answers_static_text" style="color:black;text-align:center;margin-top:10px;">
	         				    	Share your stories and experiences and help others along their way to financial <br/>
	         				    	freedom. Give answers to as many questions as you like.<br/>
	         				    	<a href="#" onclick="sendRedirect('unanswered')">See Unanswered Questions.</a>
	         				    </div>
	         	 			</div>
	         	 			<div id="more_user_answers" style="margin-top:10px;font-weight:bold;font-size:14px;color:#003366;cursor: pointer;display:none;" ng-click="showAllUserAnswers()">More Answers</div>
	   						<div id="user_answers_loader_image" style="background-image:url('img/loader.gif');width:16px;height:16px;display:none;"></div>		
	   					</pane>
	   					<pane title="My Tags">
	         				<div id="dashboard-my-tags" style="padding-bottom:25px;">
	         					<div id="dashboard-users-tags"></div>
	         					<!--<div id="dashboard-predefined-tags">
	         						<div class="tags_row">
		         						<span class="question_tags_category" id="user_tags_0"  style="float:left;margin-left:15px">
		         							<a href="question/tag/401Ks"  target="_self" onclick="javascript:showQuestionByTag('401Ks')">401Ks</a>
		         							<a class="topic_remove" href="" ng-click="removeUserTag('0','401Ks')">x</a>
		         						</span>
								        <span class="question_tags_category" id="user_tags_1" style="float:left;margin-left:15px">
								        	<a  href="question/tag/Credit-Scores"  target="_self">Credit Scores</a>
								        	<a class="topic_remove" href="" ng-click="removeUserTag('1','Credit Scores')">x</a>
								        </span>
								        <span class="question_tags_category" id="user_tags_2" style="float:left;margin-left:15px">
								        	<a  href="question/tag/Supplement-Income"  target="_self">Supplement Income</a>
								        	<a class="topic_remove" href="" ng-click="removeUserTag('2','Supplement Income')">x</a>
								        </span>
							        </div>
								</div>-->
								<div id="dashboard-user-defined-tags" style="clear:both;">
								</div>
								<div class="add_tag_container" style="clear:both;padding:15px;">
							        <div style="color:#0088cc;cursor: pointer;" ng-hide="addTagEditorEnabled"  ng-click="addTagEnableEditor()">Add Tag</div>
						    		<div class="user_add_tag" ng-show="addTagEditorEnabled" style="display: none"> 
   	        							<div class="tags_alert_message" id="tags_alert_message" style="padding:2px;display:none;color:red"></div>
							    		<input  id="userAddTagInput" type="text" placeholder="Enter your tag" ng-model="userTagSelected"/>
					        			<button id="add_user_own_tags_button" type="submit" class="btn btn-primary btn-warning-blue" ng-click="addUserTag()">Add</button>
					        			<a href="#" ng-click="addTagDisableEditor()">Close</a>
				    				</div>
				    			</div>	         				
	         					<!-- <div class="my_tags_static_text" style="color:black;text-align:center;margin-top:10px;clear:both;">
		         					Questions on phroogal are tagged with keywords. Add tags to easily discover<br/>
		         					questions associated with that keyword. Just click on the tags you follow to<br/> 
		         					find questions related to them. We've already added 3 most used tags.
	         					</div> -->   
	         					<div class="my_tags_static_text" style="color:black;text-align:center;clear:both;margin-top:10px;">
	         						By clicking on a tag you can easily discover questions and answers of interest
	         					</div>      							        	
			    			</div>
	   					</pane>
	   					<!-- <pane title="My Resources">
	         				<div id="dashboard-my-resources">
	         				    <div class="my_resources_static_text" style="color:black;text-align:center;padding:10px;">
		         					Bookmark your most used resources, favorite money apps and tools for easy <br/>
		         					access through your dashboard.  
	         					</div>	
	         					<div>
		         					<div style="padding:10px;color: black;">
		         						<div style="font-size:14px;font-weight:bold">My Banking</div>
		         						<div>
		         							<a style="color:#0088cc;" target="_blank" href="http://www.tycocu.coop/">Online Banking - Reach Federal Credit Union</a>
		         						</div>
		         					</div>
		         					<div style="padding:10px;color: black;">
		         						<div style="font-size:14px;font-weight:bold">My Credit Reports</div>
		         						<div>
		         							<a style="color:#0088cc;" target="_blank" href="http://www.AnnualCreditReport.com">Free Credit Reports - AnnualCreditReport.com</a>
		         						</div>
		         						<div>
		         							<a style="color:#0088cc;" target="_blank" href="http://www.creditkarma.com">Credit Scores - CreditKarma</a>
		         						</div>
		         					</div>
		         					<div style="padding:10px;color: black;">
		         						<div style="font-size:14px;font-weight:bold">My Insurance</div>
		         						<div>
		         							<a style="color:#0088cc;" target="_blank" href="http://www.usaa.com">USAA</a>
		         						</div>
		         					</div>
		         					<div style="padding:10px;color: black;">
		         						<div style="font-size:14px;font-weight:bold">My Investments</div>
		         						<div>
		         							<a style="color:#0088cc;" target="_blank" href="http://www.scotttrade.com">Investments - ScottTrade</a>
		         						</div>
		         						<div>
		         							<a style="color:#0088cc;" target="_blank" href="http://finance.yahoo.com/">Stock News - Yahoo Finance</a>
		         						</div>
		         						<div>
		         							<a style="color:#0088cc;" target="_blank" href="http://www.fidelity.com">401k - Fidelity</a>
		         						</div>
		         					</div>
		         					<div style="padding:10px;color: black;">
		         						<div style="font-size:14px;font-weight:bold">My Money Transfers</div>
		         						<div>
		         							<a style="color:#0088cc;" target="_blank" href="http://www.paypal.com">Payments - Paypal</a>
		         						</div>
		         						<div>
		         							<a style="color:#0088cc;" target="_blank" href="http://www.xoom.com">Wire Transfers - Xoom</a>
		         						</div>
		         					</div>
		         					<div style="padding:10px;color: black;">
		         						<div style="font-size:14px;font-weight:bold">My Student Loans</div>
		         						<div>
		         							<a style="color:#0088cc;"  target="_blank" href="http://www.vsac.org">Student Loan - VSAC</a>
		         						</div>
		         					</div>
		         					<div style="padding:10px;color:black;">
		         						<div style="font-size:14px;font-weight:bold">My Taxes</div>
		         						<div>
		         							<a style="color:#0088cc;" target="_blank" href="http://www.TurboTax.com">Tax Preparation - TurboTax</a>
		         						</div>
		         					</div>
		         					<div style="padding:10px;color: black;">
		         						<div style="font-size:14px;font-weight:bold">My Tools</div>
		         						<div>
		         							<a style="color:#0088cc;"  target="_blank" href="http://www.manilla.com">Bills - Manilla</a>
		         						</div>
		         						<div>
		         							<a style="color:#0088cc;"  target="_blank" href="http://www.saveup.com">Budgeting - SaveUp</a>
		         						</div>
		         						<div>
		         							<a style="color:#0088cc;"  target="_blank" href="http://www.retailmenot.com">Coupons - RetailMeNot</a>
		         						</div>
		         						<div>
		         							<a style="color:#0088cc;"  target="_blank" href="http://www.turbotax.com">Taxes - TurboTax</a>
		         						</div>
		         					</div> 			        	
				    			</div>			        	
			    			</div>
	   					</pane>
	   					 -->
	   					<!-- <pane title="Personal Finance">
	   					</pane> -->
	   				</tabs>
	    		</td>
    		</tr>
    	</table>
    	<div id="tempTextContainer" style="display:none"></div>
	</div>	
</div>
	