	<div style="width:500px;" class="modal hide signup-form forgotPasswordForm" id="forgotPasswordFormModel">
		<div class="modal-header" style="padding:20px;">
			<button type="button" class="close" data-target="#forgotPasswordFormModel" data-dismiss="modal">x</button>
			<div style="color:white;text-align:center;line-height:22px;font-size:19px" id="loginSignupFormModal_header">Forgot Password</div>
		</div>		
		<div class="modal-body">
		    <div id="forgot_password_message" class="alert alert-error" style="display:none;text-align:center;"></div>
			<form accept-charset="UTF-8" name="forgotPasswordForm" style="margin:0px!important;">
			  	<div>
			 		<div style="float:left;margin-left:25px;">
			 			<label class="control-label" id="inputEmail" for="inputEmail" style="width:75px;">Email</label>
			 		</div>
			 		<div class="controls" style="margin-left:25px;">
						<input type="email" id="inputEmail" placeholder="Email" ng-model="forgotEmail" name="forgotEmail" required="required" style="margin:0px!important;"/>
						<span class="sError" ng-show="forgotPasswordForm.forgotEmail.$error.email">Not Valid</span>
					</div>
			 	</div>			 
			 </form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning pull-right btn-warning-right" ng-disabled="forgotPasswordForm.$invalid"  ng-click="forgotPassword()">Submit</button>
		</div>
	</div>