<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
	<link rel="shortcut icon" href="favicon.ico"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../css/default.css" rel="stylesheet" media="screen"/>
	<link href="../css/style.css" rel="stylesheet" media="screen"/>
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="http://code.angularjs.org/1.0.7/angular-resource.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.min.js"></script>
	<script src="../scripts/bootstrap.js" xml:space="preserve"></script>
	<script src="../scripts/password_reset.js"></script>
	<script type="text/javascript" src="../scripts/modernizr.custom.js"></script>
    <script type="text/javascript" src="../scripts/classie.js"></script>
	   	
    <script type="text/javascript">
    var BASE_URL = location.protocol + "//" + document.location.host
	+ window.location.pathname;
	var userId;
	var landingRedirectFlag=false;
	$(document).ready(function () {
		// setting foooter logo of panel    	   
 	  	$("#slider_footer_logo").attr("src",getBaseUrlOfSite()+"img/img-slider/logo-footer.png");
 	   	//set logo url 
 	   	$("#main_logo_div_container_img").attr("src",getBaseUrlOfSite()+"img/logo-full-white.png");
 	   	$("#showLeftPush").attr("src",getBaseUrlOfSite()+"img/logo/Menu-bar.png")
		
		var height=$(document).height(); 
		var mH=50+(height-375)/2+"px";
		$(".password_reset_page").css("margin-top",mH)
		var n=location.search.indexOf("?rid="); 
		var l = location.search.length;
		var id = location.search.substring(n+5,l);
		userId=id;		
		$.ajax({  
	    	async:false,
	    	url:  "password-reset-request-"+id,  
	    	success: function(msg) {
	    	 	if(msg.status=="SUCCESS"){
	    	 		$("#userEmail").text(msg.response.email);
	    	 	}
	    	 	else{
	    	 		var url = getBaseUrlOfSite()+"signin";					  
	    			window.location.href = url;
	    	 	}        	   
	    	}
		});
		$(".nav-bar-logo").click(function(){
			var url = getBaseUrlOfSite()+"signin";					  
			window.location.href = url;
		});
		$("#messageModelButton").click(function(){
			if(landingRedirectFlag==true){
				var url = getBaseUrlOfSite()+"signin?reset=true";					  
				window.location.href = url;
			}
		});
		$("#password_reset_page").show();		 
	});
</script>
<script type="text/javascript">
	function getBaseUrlOfSite(){
		var index1 = BASE_URL.lastIndexOf('/');
		var BASE_URL1 = BASE_URL.substring(0,index1);
		var index2 = BASE_URL1.lastIndexOf('/');
		var url = BASE_URL1.substring(0,index2+1);		
		return url;
	}
</script>
<style>	
	.passworsLabel
	{
		width:150px;		
		float:left;
		text-align: left
	}
	textarea,input[type="text"],input[type="password"],input[type="email"]{
		border-radius:0px 0px 0px 0px;
	}	
</style>	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-34381556-1', 'phroogal.com');
	  ga('send', 'pageview');
	</script>
   </head>
   <body ng-app="signin" ng:controller="LoginCtrl" class="landing-page cbp-spmenu-push">
   <div th:include="headerTemplate"></div>
   <div th:include="signupFormTemplate"></div>
   <div th:include="loginAndSignupFormTemplate"></div>
   <div th:include="forgotPasswordFormTemplate"></div>
   <div th:include="messagePageTemplate"></div>
   <a id="error_message_link" data-toggle="modal" href="#messageModal" data-dismiss="modal" style="width:0px;height:0px"></a>  
   	<div class="login-error" style="display:none;position:absolute;top:100px;left:20%;width:600px">
		<div class="alert alert-error" style="text-align: center;">  
	  		Invalid Username or password! 
		</div>
	</div>
	<div class="password_reset_page" id="password_reset_page" style="margin-left:auto;height:240px;width:500px;margin-right:auto;display:none">	    
	    <div style="text-align: left;font-size:20px;font-weight:bold;color:#515f77;margin-bottom:25px;">Change Password</div>
		<form  name="changePasswordForm" style="font-size: 14px;">			        			
      		<span class="passworsLabel">Email</span>
      		<span id="userEmail" style="font-weight:bold;"></span><br/><br/>       			
			<span class="passworsLabel">New Password</span>
			<span>
				<input type="password" id="inputPassword" placeholder="Password" ng-model="sPassword"  required="required" />
			</span>
			<br/><br/>
			<span class="passworsLabel" >Confirm Password</span>
			<span>
				<input type="password" id="inputPassword" placeholder="Confirm Password" name="confirm_password" ng-model="sConfirmPassword" required="required" data-password-verify="sPassword"/>
			</span>
			<span class="sError" ng-show="changePasswordForm.confirm_password.$error.passwordVerify">Not Matched</span>
			<br/><br/>
			<span>
				<button class="btn btn-primary" ng-disabled="changePasswordForm.$invalid"  ng-click="resetPassword()">Change Password</button>
			</span>				
		</form>
	</div>
	<div th:include="forgotPasswordFormTemplate"></div>		
	<div th:include="footerTemplate"></div>
	<div id="dummyAnswerContentText" style="display:none"></div>
	</body>	
</html>
