<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Add Answer update notification</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<p>Hi <span th:text="${questionPostedBy}"/>,</p>
        <p>Your question:</p>
        <p><i><span th:text="${questionTitle}"/></i></p>
        <p>was answered by <span th:text="${answeredBy}"/></p>
        <p><span th:utext="${answer}"/></p>
        <p>To <a th:href="${questionLink}"> view </a>all the answers, log in to Phroogal.</p>
        <p>Phroogal Team</p>
    </body>
</html> 