<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Flag Notification</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Hi <span th:text="${firstname}"/>,</p>
        <p>A fellow phroogie reported your <span th:text="${postType}"/>: </p>
        <p><span th:utext="${postContent}"/></p>
        <p>Help us maintain the quality of the Phroogal knowledge base and improve your <span th:text="${postType}"/> and or details.</p>
        <p>If you choose not to improve the <span th:text="${postType}"/>, you can delete it or it will be deleted within 48 hours if deemed unhelpful by the site administrator. You can always post your <span th:text="${postType}"/> again.</p>
        <p>You may view your <span th:text="${postType}"/> <a th:href="${postLink}"> here </a></p>
        <p>Thank you,</p>
        <p>Phroogal Team</p>
    </body>
</html> 