<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Email Confirmation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Hi <span th:text="${firstname}"/>,</p>
        <p>You've successfully changed your password.</p>
        <p>If you received this email and did not request your password changed, please contact support@phroogal.com</p>
        <p>Phroogal Team</p>
    </body>
</html> 