	<div class="modal hide signup-form" id="loginSignupFormModal" style="width:360px!important;color:gray;left:55%!important">
		<div id="facebook_popup_login" class="social_tooltip_popup" style="top:112px;left:200px;">We don't like wall post SPAM so <br/>don't expect any from us.</div>
		<div id="twitter_popup_login" class="social_tooltip_popup" style="top:155px;left:200px;">We don't like wall post SPAM so <br/>don't expect any from us.</div>
		<div class="modal-header" id="loginSignupFormModal_header_div" style="padding:20px;">
			<button id="loginSignupFormModal_close" type="button" class="close" data-target="#loginSignupFormModal" data-dismiss="modal">x</button>
			<div style="color:white;text-align:center;line-height:22px;font-size:19px" id="loginSignupFormModal_header">Login</div>
		</div>		
		<div class="modal-body" style="max-height:500px;">
		    <div id="info_message_login_form_alert_show">
		    	<div style="padding-bottom:10px;">
		    		<div id="login_signup_message" class="alert alert-error" style="display:none;text-align: center;padding:8px;margin-bottom:0px;"></div>
	    			<div id="login-to-access-message" style="color:black;font-size:16px;text-align:center;display:none;">Get more out of Phroogal.<br/>Log in to access all features.</div>
	    			
	    		</div>
			</div>
			<div class="modal-body-row">
				<div class="modal-body-row" align="center">
					<div id="facebook_login" class="div_btn btn-social_icon_facebook social_button_login" ng-click="loginFacebook()" style="width:163px;">
					</div>
	      			<!-- <div class="div_btn btn-social_icon_linkedIn social_button_login" ng-click="loginLinkedIn()"></div>
					<div class="div_btn btn-social_icon_google social_button_login"   ng-click="loginGoogle()" ></div><br/> -->
					<div id="twitter_login" class="div_btn btn-social_icon_twitter social_button_login" ng-click="loginTwitter()" style="width:163px;margin-top:10px;"></div>
				</div>
				<div class="modal-body-row" style="color:gray;margin: 10px 22px;font-size:14px;">Logging in with a social network allows<br/>for a more social experience.</div>
				<div class="modal-body-row" style="background-color:#eeeeee;height:2px;width:100%;margin-top:25px"></div>
				<div class="modal-body-row" style="border-radius: 50% 50% 50% 50%;font-size: 13px;padding: 3px;background-color: rgb(238, 238, 238);margin-top:-13px;margin-left:auto;margin-right:auto;width:20px;">OR</div>
				<div class="modal-body-row" style="padding:10px;">				
					<form class="navbar-form" name="loginform">
					    <div class="control-group_right">
					    Email
						</div>
					    <div class="control-group_right">
							<input id="login_email_box" class="span2" type="text" name="username"  ng-model="email" required="required" style="width:293px"/>
						</div>
						<div class="control-group_right" style="float:left;margin-top:10px;">
							Password
						</div>
						<div style="font-size:11px;float:right;margin-right:2px;margin-top:10px;">
								<a  data-toggle="modal" href="#forgotPasswordFormModel" style="color:gray;" data-dismiss="modal" onclick="resetForgotFrom()"><i>Forgot?</i></a>
						</div>	
						<div class="control-group_right" style="clear:both;"> 
							<input id="login_password_box" class="span2" type="password"  ng-model="password" required="required" style="width:293px" />
						
						</div>												
					</form>					
					<div class="model-body-left-row">
						<div class="control-group_right" style="color:gray;font-size:11px;margin-top:5px;">
							<input id="rememberMe" type="checkbox" style="margin-top:0!important;margin-right:5px;"/>Remember me
						</div>						
					</div>													
				</div>
				<div class="modal-body-row" style="background-color:#eeeeee;height:2px;width:100%"></div>
				<div style="float:left;margin-top:15px;">
					<a data-toggle="modal" href="#signupFormModal" data-dismiss="modal" onclick="resetSignUpForm()" style="color:gray;">No account yet?</a>
				</div>
				<div class="modal-body-row" style="float:right;margin-top:15px">
					<button  class="btn btn-warning pull-right" ng-click="login()" ng-disabled="loginform.$invalid">LOG IN</button>
				</div>	
			</div>
		</div>
		<script type="text/javascript">
			var documentScope;
	         $(document).ready(function () {
	     		$('#loginSignupFormModal').keyup(function(e) {
	     		    if (e.which === 13) {
	     		    	documentScope.login();  
	     		    }
	     		});
	         });
	         function hideLoginSingupForm(){
	        	 $("#loginSignupFormModal").hide();
	         }	        
   		</script>	
	</div>
