<!-- <div th:include="addImageTemplate"></div> -->
<div class="add_new_brand_profile_page" ng-app="addBrandProfile"   ng-controller="brandProfileCtrl" ng-init="initFunctionCall()" >
	<div class="add_new_brand_profile_page_content">
		<div class="profile_form_content">
			<form  accept-charset="UTF-8" name="brandProfileform">
			 	<div  class="brandProfileform_row1" style="height:150px;">
			 	    <div id="upload_image_message" class="alert alert-error" style="display:none;text-align: center;"></div>
				 	<div  class="brandProfileform_row1_left" style="float:left;">
				 	  	<img src="img/ratings_reviews/default_brand.png" style="width:130px;height:130px;margin-top:2px;"  id="brandPicImg"></img>
				 		<input type="file" id="brandPicFile" style="display: none;" onchange="angular.element(this).scope().setFile(this)" />
				 		<div  class="add_profile_photo" style="text-align:center;width:130px;color:white;background-color:#d3d3d3;cursor: pointer;" onclick="setPic()">
							<a href="#">Change Photo</a>
						</div>
				 	</div>
				 	<div  class="brandProfileform_row1_right" style="float:left;">
				 	   <div class="profile-control">
							<input type="text" id="brand_name" placeholder="Add brand/product/company." required="required" ng-model="brandName" ng-change="brandNameExistCheck()"/>
							<span class="sError" ng-show="uniqueNameError" style="display:none">Name Exists</span>
						</div>
						<div class="profile-control">
							<textarea  style="height:20px;font-size:14px;" id="brand_short_desc" placeholder="Short Description" required="required" ng-model="brandShortDesc"></textarea>
						</div>						
						<div class="profile-control">
						    <div class="brand_selected_tags" style="padding-top:2px;padding-bottom:10px;display:none;"></div>
						    <div id="brand_tags_non_exist_tag_error" style="padding:2px;display:none;color:red">Not a valid tag.</div>
     						<div id="brand_tags_empty_error" style="padding:2px;display:none;color:red">Please select at least one tag.</div>
     					    <div id="brand_tags_category_limit_error_alert" style="padding:2px;display:none;color:red">You can only add upto 2 tags.</div>
   	     					<input id="brandSelectedTags" type="text" placeholder="Add best descriptive tag, max 2" required="required"/>
						</div>
						<div class="profile-control">
							<input type="url" placeholder="URL" required="required" ng-model="brandUrl"  name="brandUrl" ng-change="brandUrlExistCheck()" />
							<span class="sError" ng-show="brandProfileform.brandUrl.$error.url" style="display:none">Not Valid</span>
							<span class="sError" ng-show="uniqueUrlError" style="display:none">Url Exists</span>
						</div>
				 	</div>
			 	</div>
			 	<div class="brandProfileform_row2">
					<textarea  placeholder="About Brand" id="brand_long_desc" style="width:635px;min-height:40px;font-size:14px;"  ng-model="brandLongDesc" ></textarea>
		    	</div>
		    	<div style="padding:8px;margin-top:15px;border-top:2px solid #6496cb;border-bottom:2px solid #EEEEEE;font-size:15px;font-color:black;font-weight:bold;">
		    		Review 
		    	</div>		    		
				<div class="addReviewform_profile-control" style="margin-top:10px;">
					<textarea  id="review_title" placeholder="Add review title" style="width:635px;height:20px;font-size:14px;" required="required" ng-model="reviewTitle"></textarea>
				</div>
				<div class="addReviewform_profile-control">
					<textarea  id="review_desc" placeholder="Add review description" style="width:635px;min-height:40px;font-size:14px;"  ng-model="reviewDesc"></textarea>
		    	</div>
		        </form>
		    	<div class="addReviewform_next_row">
			        <!-- <div class="review_selected_tags" style="padding-top:2px;padding-bottom:10px;display:none;"></div>
			    	<div class="addReviewform_profile-control" style="float:left;">
   	    			    <div id="review_tagss_non_exist_tag_error" style="padding:2px;display:none;color:red">Not a valid tag.</div>
     					<div id="review_tags_empty_error" style="padding:2px;display:none;color:red">Please select at least one tag.</div>
     					<div id="review_tags_limit_error_alert" style="padding:2px;display:none;color:red">You can only add upto 5 tags.</div>
   	     				<input id="reviewSelectedTags" type="text" placeholder="Add at least one tag, max 5 tags" style="width:200px" required="required"/>
					</div>
					<div class="addReviewform_profile-control" style="float:left;width:150px;">
						<div class="expreince_ratings_content" style="float:left;color:#6496cb;margin-left:20px;z-index:100;height:30px;">
							<span class="smily" onclick="showSmilyEmostionBackground('1')">&#9786;</span>
							<span class="smily" onclick="showSmilyEmostionBackground('2')">&#9786;</span>
							<span class="smily" onclick="showSmilyEmostionBackground('3')">&#9786;</span>
							<span class="smily" onclick="showSmilyEmostionBackground('4')">&#9786;</span>
							<span class="smily" onclick="showSmilyEmostionBackground('5')">&#9786;</span>
							<div style="position:relative;top:-25px;left:-15px;z-index:-1;">
								<div id="smilybackground_smily1" class="smilybackground"  style="opacity:0;background-color: #FF7700;width:20px;height:20px;float:left;border-radius:50%;margin-left: 9px; margin-top: 3px;"></div>
								<div id="smilybackground_smily2" class="smilybackground"  style="opacity:0;background-color: #FF7700;width:20px;height:20px;float:left;border-radius:50%;margin-left: 2px; margin-top: 3px;"></div>
								<div id="smilybackground_smily3" class="smilybackground" style="opacity:0;background-color: #FF7700;width:20px;height:20px;float:left;border-radius:50%;margin-left: 4px; margin-top: 3px;"></div>
								<div id="smilybackground_smily4" class="smilybackground"  style="opacity:0;background-color: #FF7700;width:20px;height:20px;float:left;border-radius:50%;margin-left: 2px; margin-top: 3px;"></div>
								<div id="smilybackground_smily5" class="smilybackground" style="opacity:0;background-color: #FF7700;width:20px;height:20px;float:left;border-radius:50%;margin-left: 3px; margin-top: 3px;"></div>
							</div>
						</div>
						<div class="expreince_ratings_text" style="font-size:11px;color:black;line-height: 14px;margin-left:15px;">Would you recommended this product to others?</div>
					</div>-->
					<div class="profile_controls_label" style="float:left;width:130px;color:black;">Recommend to friends and family?</div>
					<div class="profile_controls" style="float:left;">
						<div   id="likeReviewDiv" style="padding:5px;background-color:#ef7e2a;float:left;cursor: pointer;" onclick="likeToReview()">
				 			<img src="img/face-icon.png" style="width:35px;height:35px;"/>
				 		</div>
					</div>
					<div class="profile_controls" style="float:right;">
		   				<div style="float:left;padding-top:1px;padding-bottom:10px;">
		   					<input id="postAsAnonymousReview" type="checkbox" style="margin-right:5px;margin-top:-3px;font-size:11px;font-size:10px;"/>Review Anonymously<br/>
		     	        	<button type="button" class="btn btn-add-new-question btn-warning pull-right" ng-disabled="brandProfileform.$invalid" ng-click="addBrandProfile()">Add Review</button>
		     	        </div>
		     	   </div>	
				</div>				
		    <!--</form> -->
		    <div class="profile-control-footer" style="height:50px;width:100%;">
				<!-- <button class="btn btn-warning pull-right" ng-disabled="signupform.$invalid" data-dismiss="modal" data-target="#signupFormModal" ng-click="signup()">Add&nbsp;Review</button> -->
			</div>
		</div>				
	</div>
</div>