<div style="width:500px;" class="modal hide signup-form addEmailForm" id="addEmailFormModel">
	<div class="modal-header" style="padding:20px;">
		<button type="button" class="close" data-target="#addEmailFormModel" data-dismiss="modal">x</button>
		<div style="color:white;text-align:center;line-height:22px;font-size:19px">Complete your signup.</div>
	</div>		
	<div class="modal-body">
	    <div style="margin-bottom: 20px; text-align: justify; margin-left: 25px; margin-right: 25px;" id="add_email_message">Complete your signup and enter your info. You'll receive notifications when your questions are answered.</div>
		<form  name="addEmailForm" style="margin:0px!important;">
			<div>
		  		<div style="float:left;margin-left:25px;">
		 			<label class="control-label" id="inputTwitterFirstName" for="inputTwitterFirstName" style="width:100px;">First Name</label>
		 		</div>
		 		<div class="controls" style="margin-left:25px;">
					<input type="text" id="inputAddTwitterFirstName" placeholder="First Name" ng-model="addTwitterFirstName" name="addTwitterFirstName" required="required" style="margin:0px!important;"/>
				</div>
		 	</div>
		 	<div style="margin-top:10px;">
		  		<div style="float:left;margin-left:25px;">
		 			<label class="control-label" id="inputTwitterLastName" for="inputTwitterLastName" style="width:100px;">Last Name</label>
		 		</div>
		 		<div class="controls" style="margin-left:25px;">
					<input type="text" id="inputAddTwitterLastName" placeholder="Last Name" ng-model="addTwitterLastName" name="addTwitterLastName" required="required" style="margin:0px!important;"/>
				</div>
		 	</div>
			<div id="email-notvalid-span" class="sError" ng-show="addEmailForm.addEmail.$error.email" style="margin-left:125px;margin-top:5px;">Not Valid</div>
		  	<div  style="margin-top:10px;">
		  		<div style="float:left;margin-left:25px;">
		 			<label class="control-label" id="inputEmail" for="inputEmail" style="width:100px;">Email</label>
		 		</div>
		 		<div class="controls" style="margin-left:25px;">
					<input type="email" id="inputAddEmail" placeholder="Email" ng-model="addEmail" name="addEmail" required="required" style="margin:0px!important;"/>
				</div>
		 	</div>			 
		 </form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning pull-right btn-warning-right" ng-disabled="addEmailForm.$invalid"  onclick="updateTwitterLoginUserEmailAdress()">Submit</button>
	</div>
</div>
<style>
.btn-warning-right[disabled]{
	float: right !important;
	background-color: #E6E6E6!important;
   	color: #333333!important;
   	/* background-image: none;*/
   	box-shadow: none;
   	cursor: default;
   	opacity: 1!important;
   	text-shadow: none!important;
}
</style>	
