<div class="user_privacy_page" ng-app="settings"  ng-controller="settingsCtrl">
	<div class="user_privacy_page_content" style="width:550px;float:left" >
		<div class="row_start">
			<p class="row_title">
				<strong>Privacy Settings</strong>
			</p>
			<div class="user_privacy_info">				
					<div class="user_privacy_row">
						<div class="user_privacy_left_col">Members can view my profile</div>
				    	<div class="user_privacy_right_col" >
				    	<input type="checkbox" ng-model="email_preferences_checkbox"/>
				    	</div>
				    </div>
				    <div class="user_privacy_row">
						<div class="user_privacy_left_col">My social network connections can view my profile</div>
				    	<div class="user_privacy_right_col" >
				    	<input type="checkbox" ng-model="email_preferences_checkbox"/>
				    	</div>
				    </div>
				    <div class="user_privacy_row">
						<div class="user_privacy_left_col">Members can view my public activity</div>
				    	<div class="user_privacy_right_col" >
				    	<input type="checkbox" ng-model="email_preferences_checkbox"/>
				    	</div>
				    </div>
				    <div class="user_privacy_row">
						<div class="user_privacy_left_col">Members can comment on my answers</div>
				    	<div class="user_privacy_right_col" >
				    	<input type="checkbox" ng-model="email_preferences_checkbox"/>
				    	</div>
				    </div>
				    <div class="user_privacy_row">
						<div class="user_privacy_left_col">Members can view my connected social networks</div>
				    	<div class="user_privacy_right_col" >
				    	<input type="checkbox" ng-model="email_preferences_checkbox"/>
				    	</div>
				    </div>
				    <div class="user_privacy_row">
						<div class="user_privacy_left_col">My questions are posted anonymously</div>
				    	<div class="user_privacy_right_col" >
				    	<input type="checkbox" ng-model="email_preferences_checkbox"/>
				    	</div>
				    </div>
				    <div class="user_privacy_row">
						<div class="user_privacy_left_col">Deactivate my account</div>
				    	<div class="user_privacy_right_col" >
				    	<input type="checkbox" ng-model="deactive_account"/>
				    	</div>
				    </div>
				</div>
		    </div>
       </div>
       <div style="float:right;margin-top:25px;">
            <div><a href="" ng-click="settings()" style="color:#19558D;">Settings</a></div>
			<span style="font-weight: bold;color:black">Privacy Settings</span><br/>
			<a href="" ng-click="email_preferences()" style="color:#19558D;">Email Preferences</a>
	   </div> 
   </div>		   
