/* Slide Menu */
	#showLeftPush {
		cursor: pointer;
	}	
	.copyright {
		position:absolute;
		bottom:0;
		text-align:center;
		width:100%;
		color:#FFF;
		padding-bottom: 5px;
	}
	.copyright img {
		margin-bottom: 4px;
	}
	.copyright a {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		border: 3px solid #FFF !important;
		font-size: 18px !important;
	}
	.copyright a:hover {
		background: #F28914 !important;
	}

    .cbp-spmenu {
		background: #252525;
		position: fixed;
	}

	.cbp-spmenu h3 {
		color: #235A90;
		font-size: 1.9em;
		padding: 8px;
		margin: 0;
		font-weight: 300;
		background: #0d77b6;
	}
	
	.cbp-spmenu a {
		display: block;
		color: #fff;
		font-size: 13px;
		font-weight: 300;
	}
	
	.cbp-spmenu a:hover {
		background: #3d3d3d;
	}
	
	.cbp-spmenu a:active {
		background: #afdefa;
		color: #47a3da;
	}
	
	/* Orientation-dependent styles for the content of the menu */
	
	.cbp-spmenu-vertical {
		width: 240px;
		height: 100%;
		top: 0;
		z-index: 1000;
	}
	
	.cbp-spmenu-vertical a {
		border-bottom: 0;
		padding: .5em .5em .5em 44px;
		color: #bbbbbb;
		background-position: 18px center;
		background-repeat: no-repeat;
	}
	.cbp-spmenu-vertical a:hover {
		text-decoration: none;
		color: #FFF;
		background-position: 18px center;
		background-repeat: no-repeat;
	}
	
	.cbp-spmenu-horizontal {
		width: 100%;
		height: 150px;
		left: 0;
		z-index: 1000;
		overflow: hidden;
	}
	
	.cbp-spmenu-horizontal h3 {
		height: 100%;
		width: 20%;
		float: left;
	}
	
	.cbp-spmenu-horizontal a {
		float: left;
		width: 20%;
		padding: 0.8em;
		border-left: 1px solid #258ecd;
	}
	
	/* Vertical menu that slides from the left or right */
	
	.cbp-spmenu-left {
		left: -240px;
	}
	
	.cbp-spmenu-right {
		right: -240px;
	}
	
	.cbp-spmenu-left.cbp-spmenu-open {
		left: 0px;
	}
	
	.cbp-spmenu-right.cbp-spmenu-open {
		right: 0px;
	}
	
	/* Horizontal menu that slides from the top or bottom */
	
	.cbp-spmenu-top {
		top: -150px;
	}
	
	.cbp-spmenu-bottom {
		bottom: -150px;
	}
	
	.cbp-spmenu-top.cbp-spmenu-open {
		top: 0px;
	}
	
	.cbp-spmenu-bottom.cbp-spmenu-open {
		bottom: 0px;
	}
	
	/* Push classes applied to the body */
	
	.cbp-spmenu-push {
		overflow-x: hidden;
		position: relative;
		left: 0;
	}
	
	.cbp-spmenu-push-toright {
		left: 240px;
	}
	
	.cbp-spmenu-push-toleft {
		left: -240px;
	}
	
	/* Transitions */
	
	.cbp-spmenu,
	.cbp-spmenu-push {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	
	a{
	 color:#428bca;
	 text-decoration:none;
	}
	.join-btn, .search-link {
		padding-left: 0;
	}
	.join-btn a {
		font-size: 24px;
		color: #FFF;
		text-align: center;
		padding: 10px 70px;
		background: #1f497d;
		border: 3px solid #FFF;
		text-decoration: none;
		-webkit-transition: background-color 700ms ease-out 1s;
	    -moz-transition: background-color 700ms ease-out 1s;
	    -o-transition: background-color 700ms ease-out 1s;
	    transition: background-color 700ms ease-out 1s;
	}
	.join-btn a:hover {
		background: #F28914;
	}
	.join-btn a.orange {
		background: #F28914;
	}
	.join-btn a.orange:hover {
		background: #235A90;
	}
	.search-link {
		text-align: center;
		margin-top: 20px;
	}
	.search-link a {
		color: #FFF;
	}
	.col-md-10{
		width:83.333%;       
	}
	.col-md-offset-1{
		margin-left:8.334%;
	}