<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
    <beans profile="dev">
        <bean id="externalResourceService" class="com.phroogal.core.service.mock.MockExternalResourceServiceImpl"/>
        
        <bean id="fileUploadService" class="com.phroogal.core.service.mock.MockFileUploadServiceImpl"/>
        
		<!-- Mongeez data loader config -->
		<bean id="mongeez" class="org.mongeez.MongeezRunner">
		    <property name="mongo" ref="mongo"/>
		    <property name="userName" value="${mongo.username}"/>
		    <property name="passWord" value="${mongo.password}"/>
		    <property name="executeEnabled" value="${mongeez.loadOnStartup}"/>
		    <property name="dbName" value="${mongo.databaseName}"/>
		    <property name="file" value="classpath:data/mongeez.xml"/>
		</bean>
    </beans>
    
    <beans profile="prod">
        <bean id="externalResourceService" class="com.phroogal.core.service.impl.ExternalResourceServiceImpl"/>
        <bean id="fileUploadService" class="com.phroogal.core.service.impl.FileUploadServiceImpl"/>
    </beans>
 
</beans>